
*.tmp
Projects/Project 4/GoogleNews-vectors-negative300-SLIM.zip
Projects/Project 4/GoogleNews-vectors-negative300-SLIM.bin
Projects/Project_4_LSTM_Classifier/GoogleNews-vectors-negative300-SLIM.bin
