
*.tmp
Projects/Project 4/GoogleNews-vectors-negative300-SLIM.zip
Projects/Project 4/GoogleNews-vectors-negative300-SLIM.bin
Projects/Project_4_LSTM_Classifier/GoogleNews-vectors-negative300-SLIM.bin
/Projects/Project_7_Pipelines/data/extracted_text
/Projects/Project_7_Pipelines/data/fomc_transcripts
/Projects/Project_7_Pipelines/data/summaries
